<ion-view title="Page Three">
  <ion-content class="padding">

    <!-- Define this tab's visible display content -->
    <div class="row">
    	<div class="col col-100">
    		<h3 style="text-align:center">Where have you traveled in the past six months?</h2>
            <h5 style="text-align:center">Select all that apply.</h5>
    	</div>
    </div>

    <div class="row">
    	<div class="col col-100">

            <ul class="list">
              <li class="item item-checkbox">
                 <label class="checkbox">
                   <input type="checkbox">
                 </label>
                 Iowa City, IA
              </li>

              <li class="item item-checkbox">
                 <label class="checkbox">
                   <input type="checkbox">
                 </label>
                 Cedar Rapids, IA
              </li>

              <li class="item item-checkbox">
                 <label class="checkbox">
                   <input type="checkbox">
                 </label>
                 Coralville, IA
              </li>

              <li class="item item-checkbox">
                 <label class="checkbox">
                   <input type="checkbox">
                 </label>
                 North Liberty, IA
              </li>

              <li class="item item-checkbox">
                 <label class="checkbox">
                   <input type="checkbox">
                 </label>
                 Athens, Greece
              </li>
            </ul>

    	</div>
    </div>

    <div class="row">
    	<div class="col col-100">
	        <a class="button button-block button-stable icon icon-right ion-chevron-right" href="#/tab/survey/4">Next</a>  
    	</div>
    </div>

	</ion-content>
</ion-view>



