<ion-view title="Page Five">
  <ion-content class="padding">

    <div id="map">

      <!-- Define clickable areas of image map -->
      <map name="map1" id="iowaMap">

        <!-- District 4 (northwest) -->
        <area
          id="area-district-4" 
          shape="poly"
          alt="District 4"
          title="district_4"
          coords="27,17, 42,116, 17,180, 110,439, 320,436, 320,415, 313,415, 315,361, 550,359, 549,287, 622,287, 622,268, 660,267, 659,233, 655,233, 656,141, 730,142, 730,78, 582,76, 580,66, 507,66, 507,15, 27,17"
          class="maparea" />

        <!-- District 1 (northeast) -->
        <area 
          id="area-district-1"
          shape="poly"
          alt="District 1"
          title="district_1"
          coords="509,17, 511,67, 582,68, 582,75, 729,75, 733,140, 655,143, 662,270, 625,275, 625,292, 552,292, 550,359, 624,361, 626,432, 764,434, 766,360, 839,362, 839,337, 910,340, 911,317, 1024,322, 1029,308, 934,196, 888,177, 870,98, 888,68, 856,15, 509,17" 
          class="maparea" />

        <!-- District 3 (southwest) -->
        <area
          id="area-district-3"
          shape="poly"
          alt="District 3"
          title="district_3"
          coords="116,436, 321,436, 313,361, 532,361, 534,506, 427,510, 427,627, 155,626, 133,594, 146,569, 116,436" 
          class="maparea" />

        <!-- District 2 (southeast) -->
        <area
          id="area-district-2" 
          shape="poly"
          alt="District 2"
          title="district_2"
          coords="530,360, 535,507, 425,510, 429,630, 784,622, 829,671, 841,667, 835,634, 844,620, 880,607, 886,574, 908,555, 905,514, 881,489, 893,451, 1001,422, 1011,380, 1026,375, 1029,323, 914,328, 913,345, 840,346, 841,362, 768,362, 768,432, 624,434, 621,361, 530,360"
          class="maparea" />
      </map>

      <!-- Display the image and bind to the attributes of map1 -->
      <img src="../img/iowa-district-map.jpg" usemap="#map1" />

      <!-- As a backup, provide a basic list of links to each clickable area in the event CSS/JS will not work on this device -->
      <ul>
        <li id="district-1"><a href="map/district-1.html">District 1</a></li>
        <li id="district-2"><a href="map/district-2.html">District 2</a></li>
        <li id="district-3"><a href="map/district-3.html">District 3</a></li>
        <li id="district-4"><a href="map/district-4.html">District 4</a></li>
      </ul>

    </div>


    <!-- Define this tab's visible display content -->
    <b>Image map Goes Here</b>

    <div class="row">
      <div class="col col-100">
          <a class="button button-block button-stable icon icon-right ion-chevron-right" href="#/tab/survey/6">Next</a>  
      </div>
    </div>

	</ion-content>
</ion-view>



