<!-- Survey Home (root view of survey tab) -->
<ion-view title="Home">
  <ion-content class="padding">

    <!-- Define this tab's visible display content -->
    <div style="text-align:center">
	    <div class="row">
	      <div class="col col-100">
	        <h3>CompEpi Test Survey</h3> 
	      </div>
	    </div>

	    <br>

	    <div class="row">
	      <div class="col col-100">
	        <p>When you are ready to begin the survey, press the 'Start' button below this text.</p>
	      </div>
	    </div>

	    <div class="row row-bottom">
	      <div class="col col-100">
	        <a class="button button-block button-stable icon icon-right ion-chevron-right" href="#/tab/survey/1">Start</a>  
	      </div>
	    </div>
	  </div>

	</ion-content>
</ion-view>



