<!-- Model for a new view template -->
<ion-view title="Page Two">
  <ion-content class="padding">

    <!-- Define this tab's visible display content -->
    <div class="row">
    	<div class="col col-100">
    		<h2 style="text-align:center">What is your gender?</h2>
    	</div>
    </div>

    <div class="row">
    	<div class="col col-100">
    		<div class="list list-inset">
					<label class="item item-radio">
    				<input type="radio" name="group">
    					<div class="item-content">
      					Male
    					</div>
    				<i class="radio-icon ion-checkmark"></i>
    			</label>

    			<label class="item item-radio">
  				 <input type="radio" name="group">
    			 		<div class="item-content">
      					Female
    					</div>
    				<i class="radio-icon ion-checkmark"></i>
    			</label>

    			<label class="item item-radio">
  					<input type="radio" name="group">
    					<div class="item-content">
      						Other
    						</div>
    					<i class="radio-icon ion-checkmark"></i>
    			</label>

    			<label class="item item-radio">
	  				<input type="radio" name="group">
	    				<div class="item-content">
	      					Decline To Answer
	    				</div>
	    				<i class="radio-icon ion-checkmark"></i>
  				</label>
    		</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col col-100">
	        <a class="button button-block button-stable icon icon-right ion-chevron-right" href="#/tab/survey/3" ng-click="saveData()">Next</a>  
    	</div>
    </div>

	</ion-content>
</ion-view>



