<ion-view title="Page Five">
  <ion-content class="padding">

    <!-- Define this tab's visible display content -->
    <div class="row">
    	<div class="col col-100">
    		<h3 style="text-align:center">Anything else you'd like us to know?</h3>
            <h5 style="text-align:center">When you're finished, press the Submit button to store your answers.</h5>
    	</div>
    </div>

    <div class="row">
    	<div class="col col-100">
    		<label class="item item-input">
    			<textarea placeholder="Comments" lines=15 ng-model="formData.comment"></textarea>
  			</label>
    	</div>
    </div>

    <div class="row">
    	<div class="col col-100">
    		<button class="button button-light button-block" ng-click="showConfirm()">Submit</a>
    	</div>
    </div>

	</ion-content>
</ion-view>